body {
    background-color: rgb(54, 54, 90);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 5em;
    padding: 5em;
    max-width: 500px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgb(43, 43, 66);
}

.header {
    color: yellow
}

a {
    text-decoration: none;
    color: yellow;
}

.github:hover {
    color: orange;
}

div.skills {
    margin-top: 2em;
}

div.item {
    color: rgb(255, 255, 136);
}

.project {
    background-color: yellow;
    color: rgb(54, 54, 90);
    font-weight: bold;
    margin: 2px;
}

.project:hover {
    background-color: orange;
}

button.item {
    background-color: rgb(255, 255, 136);
    margin: 2px;
    font-weight: 500;
}

.email {
    font-style: italic;
    color: orange;
    
}
