body {
    background-color: rgb(54, 54, 90);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 5em;
    padding: 5em;
    max-width: 400px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgb(43, 43, 66);
}

a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: orange;
}

div.skills {
    margin-top: 2em;
}

div.item {
    color: rgb(255, 255, 136);
}